<div class='panel panel-default' ng-controller="InputCtrl">
	<div class='panel-heading'>
		<i class='icon-edit icon-large'></i> Input Parameters
	</div>
	<div class="panel-body">
		<form>
			<fieldset>
				<legend>Disease information</legend>
				<div class="form-group">
					<label class="control-label">Disease</label> 
					<select	class="form-control" ng-model="request.diseaseName">
						<option>Malaria</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label">Species</label> <select
						class="form-control">
						<option>P.Falciparum</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label">Location</label> <select
						class="form-control">
						<option>NA</option>
					</select>
				</div>

				<div class="form-group">
					<label class="control-label">Time period (years)</label>
					<div class="radio">
						<input name="options_radio" type="radio" value="half">
						0.5 <br>
					</div>
					<div class="radio">
						<input name="options_radio" type="radio" value="one">
						1 <br>
					</div>
					<div class="radio">
						<input name="options_radio" type="radio" value="two">
						2 <br>
					</div>
					<div class="input-group">
						<span class="input-group-addon"> <input
							name="options_radio" type="radio">
						</span> <input type="text" class="form-control" placeholder="specify...">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Z</label>
					<div class="radio">
						<input type="radio"
							 ng-model="request.isDefZ" value="1"> use default ({{request.zValDef}})<br>
					</div>
					<div class="input-group">
						<span class="input-group-addon"> <input
							 type="radio" ng-model="request.isDefZ" value="0">
						</span> <input type="text" class="form-control" placeholder="specify..." ng-model="request.zVal">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label"><i>k</i></label>
					<div class="radio">
						<input type="radio" ng-model="request.isDefK" value="1"> use default ({{request.kValDef}})<br>
					</div>
					<div class="input-group">
						<span class="input-group-addon"> <input type="radio" ng-model="request.isDefK" value="0">
						</span> <input type="text" class="form-control" placeholder="specify..." ng-model="request.kVal">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label"><i>Minimum possible case detection rate</i></label>
					<div class="radio">
						<input type="radio" ng-model="request.isDefCDR" value="1"> use default ({{request.cdrValDef}})<br>
					</div>
					<div class="radio">
						<input type="radio"
							ng-model="request.isDefCDR" value="9"> Not known <br>
					</div>
					<div class="input-group">
						<span class="input-group-addon"> <input type="radio" ng-model="request.isDefCDR" value="0">
						</span> <input type="text" class="form-control" placeholder="specify..." ng-model="request.cdrVal">
					</div>
				</div>

			</fieldset>
			
			<div class="form-actions text-center">
				<a ng-href="#/output" class="btn btn-primary" type="submit">set the output <i class="icon-long-arrow-right"></i></a>
				
			</div>
		</form>
	</div>
</div>

