<div class='panel panel-default' ng-controller="OutputCtrl">
	<div class='panel-heading'>
		<i class='icon-edit icon-large'></i> Output Parameters
	</div>
	<div class="panel-body">
		<pre>
		{{request}}
		</pre>
		<form>
			<fieldset>
				<legend>Output</legend>
				<div class="form-group">
					<label class="control-label">Individual Estimate of R</label>
					<div class="radio">
						<input name="estimate_radio" ng-model="request.estimateR" type="radio" value="true"> Yes
						<br>
					</div>
					<div class="radio">
						<input name="estimate_radio" ng-model="request.estimateR" type="radio" value="false"> No <br>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label'>Number of cases detected</label> <input
						class='form-control' placeholder='cases detected...' type='text'>
				</div>
				<div class='form-group'>
					<label class='control-label'>How many of these were
						imported</label> <input class='form-control' placeholder='Enter username'
						type='text'>
				</div>
				<div class="form-group">
					<label class="control-label">Figure</label>
					<div class="radio">
						<input ng-model="request.isFigure" type="radio" value="1"> Yes (default)<br>
					</div>
					<div class="radio">
						<input ng-model="request.isFigure" type="radio" value="0"> No <br>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">R thresold</label>
					<div class="radio">
						<input name="rThresold" type="radio" value="half"> 0.5 <br>
					</div>
					<div class="radio">
						<input name="rThresold" type="radio" value="one"> 1 <br>
					</div>
					<div class="radio">
						<input name="rThresold" type="radio" value="two"> 2 <br>
					</div>
					<div class="input-group">
						<span class="input-group-addon"> <input name="rThresold"
							type="radio">
						</span> <input type="text" class="form-control" placeholder="specify...">
					</div>
				</div>
				<h4>Figure range</h4>
				<div class='form-group'>
					<label class='control-label'>Minimum number of cases</label> <div class="radio">
						<input type="radio" ng-model="request.isDefMinFR" value="1"> use default ({{request.minFigRangeDef}})<br>
					</div>
					<div class="input-group">
						<span class="input-group-addon"> <input type="radio" ng-model="request.isDefMinFR" value="0">
						</span> <input type="text" class="form-control" placeholder="specify..." ng-model="request.minFigRange">
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label'>Maximum number of cases</label> <div class="radio">
						<input type="radio" ng-model="request.isDefMaxFR" value="1"> use default ({{request.maxFigRangeDef}})<br>
					</div>
					<div class="input-group">
						<span class="input-group-addon"> <input type="radio" ng-model="request.isDefMaxFR" value="0">
						</span> <input type="text" class="form-control" placeholder="specify..." ng-model="request.maxFigRange">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Number of points</label> <select
						class="form-control" ng-model="request.nrOfPoints">
						<option>10</option>
						<option>20</option>
						<option>30</option>
						<option>40</option>
						<option>50</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label">Log <i>x axis</i></label>
					<div class="radio">
						<input type="radio" ng-model="request.isLogXAxis" value="1"> Yes (default) <br>
					</div>
					<div class="radio">
						<input type="radio" ng-model="request.isLogXAxis" value="0"> No <br>
					</div>
				</div>
				<legend>Where shall we send the results</legend>
				<div class='form-group'>
					<label class='control-label'>email address</label> <input
						class='form-control' type="email" type='text' ng-model="request.email">
				</div>

			</fieldset>

			<div class="form-actions text-center">
				<a ng-href="#/results" class="btn btn-primary" >go to results <i class="icon-long-arrow-right"></i>
				</a>

			</div>
		</form>
	</div>
</div>

